.hhand {
	display: inline-block; 
}
.hhand div.card { 
	padding-top: 10px;
}
.hhand.active-hand div.card:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

.hhand-compact { 
	display: flex; 
}
.hhand-compact div.card:first-child { 
	margin-left: 0px;
	padding-top: 10px;
}
.hhand-compact div.card { 
	margin-left: -40px;
	padding-top: 10px;
}
.hhand-compact.active-hand div.card:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

.card {
	width: 70px;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: initial;
	box-sizing: initial;
}